:root {
  --standard-colors-fire: #FC5E13;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Component Overrides */

/* Theme Overrides */

/* - Standard */

/* -- CloseButton */

.dark [data-cid="CloseButton"]>button::before {
  border-color: var(--standard-colors-fire)
}

@media (prefers-color-scheme: dark) {
  .standard.system [data-cid="CloseButton"]>button::before {
    border-color: var(--standard-colors-fire)
  }
}

/* -- Modal */

/* @NOTE: Modal does not provide an interface to
   * override the background color of the overlay
   * 
   * @COLOR: standard.colors.backgroundDarkest * 75% opacity
   */
.standard.dark [data-cid="Modal"]>[class*="-mask"] {
  background: #2D3B45BF;
}

@media (prefers-color-scheme: dark) {
  .standard.system [data-cid="Modal"]>[class*="-mask"] {
    background: #2D3B45BF;
  }
}

/* - highContrast */

/* -- Modal */

/* @NOTE: Modal does not provide an interface to
   * override the background color of the overlay
   * 
   * @COLOR: black * 90% opacity
   */
.highContrast.dark [data-cid="Modal"]>[class*="-mask"] {
  background: #000000E6;
}

@media (prefers-color-scheme: dark) {
  .highContrast.system [data-cid="Modal"]>[class*="-mask"] {
    background: #000000E6;
  }
}