:root {
  --standard-colors-white: #FFF;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Component Overrides */

/* Theme Overrides */


/* - BaseButton */

.dark [data-cid*="BaseButton"]::before {
  border-color: var(--standard-colors-white);
}

/* - Billboard */

/* @NOTE: Billboard does not provide an interface to
 * override the color of the Heading text.
 */

.dark [class$="billboard__heading"]>[class$="view-heading"] {
  color: var(--standard-colors-white);
}

/* - Modal */

/* @NOTE: Modal does not provide an interface to
 * override the background color of the overlay
 */
.standard.dark [data-cid="Modal"]>[class*="-mask"] {
  /* @TODO: Switch to Relative Colors once Firefox adds support
   * https://caniuse.com/css-relative-colors
   * rgb(from var(--color) r g b / 75%)
   * @COLOR: standard.colors.backgroundDarkest * 75% opacity */
  background: color-mix(in srgb, var(--standard-colors-licorice) 75%, transparent)
}

.highContrast.dark [data-cid="Modal"]>[class*="-mask"] {
  /* @COLOR: black * 90% opacity */
  background: #000000E6;
}